In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv ("C:/Users/DELL/btc-market-price.csv")

In [3]:
df.head()

   2/4/17 0:00  1099.169125
0  3/4/17 0:00     1141.813
1  4/4/17 0:00            ?
2  5/4/17 0:00  1133.079314
3  6/4/17 0:00            -
4  7/4/17 0:00            -

In [4]:
df = pd.read_csv ("C:/Users/DELL/btc-market-price.csv", header=None)

In [5]:
df.head()

             0            1
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00     1141.813
2  4/4/17 0:00            ?
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00            -

In [6]:
df.columns=['Timestamp', 'Price']

In [7]:
df.head()

     Timestamp        Price
0  2/4/17 0:00  1099.169125
1  3/4/17 0:00     1141.813
2  4/4/17 0:00            ?
3  5/4/17 0:00  1133.079314
4  6/4/17 0:00            -

In [8]:
df.shape

(365, 2)

In [9]:
df.tail()

        Timestamp        Price
360  28/3/18 0:00      7960.38
361  29/3/18 0:00      7172.28
362  30/3/18 0:00  6882.531667
363  31/3/18 0:00      6935.48
364   1/4/18 0:00     6794.105

In [10]:
df.dtypes

Timestamp    object
Price        object
dtype: object

In [11]:
pd.to_datetime(df['Timestamp']).head()

0   2017-02-04
1   2017-03-04
2   2017-04-04
3   2017-05-04
4   2017-06-04
Name: Timestamp, dtype: datetime64[ns]

In [12]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [13]:
df.head()

   Timestamp        Price
0 2017-02-04  1099.169125
1 2017-03-04     1141.813
2 2017-04-04            ?
3 2017-05-04  1133.079314
4 2017-06-04            -

In [14]:
df.dtypes

Timestamp    datetime64[ns]
Price                object
dtype: object

In [15]:
df.set_index('Timestamp', inplace=True)

In [16]:
df.head()

                  Price
Timestamp
2017-02-04  1099.169125
2017-03-04     1141.813
2017-04-04            ?
2017-05-04  1133.079314
2017-06-04            -

In [17]:
df.loc['2021-06-30']

Empty DataFrame
Columns: [Price]
Index: []

In [18]:
df = pd.read_csv(
    'C:/Users/DELL/btc-market-price.csv',
    header=None,
    names=['Timestamp', 'Price'],
    index_col=0,
    parse_dates=True
)

In [19]:
df.head()

                  Price
Timestamp
2017-02-04  1099.169125
2017-03-04     1141.813
2017-04-04            ?
2017-05-04  1133.079314
2017-06-04            -

In [20]:
df.loc['2021-09-30']

Empty DataFrame
Columns: [Price]
Index: []

In [21]:
df.plot()

TypeError: no numeric data to plot

In [ ]:
plt.plot(df.index, df['Price'])

In [ ]:
plt.title('BTC/USDT Price, 2021')
plt.plot(df['Price'])
#X label
plt.xlabel ('Timestamp')
#Y label
plt.ylabel ('Price')

In [ ]:
df.plot()
plt.title('BTC/USDT Price, 2021')
plt.plot(df['Price'])
#X label
plt.xlabel ('Timestamp')
#Y label
plt.ylabel ('Price')

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
plt.title('BTC/USDT Price, 2021')
#X label
plt.xlabel ('Timestamp')
#Y label
plt.ylabel ('Price')
plt.hist(df['Price'])

In [ ]:
import seaborn as sns

In [23]:
df.ndim

2

In [24]:
df.head()

                  Price
Timestamp
2017-02-04  1099.169125
2017-03-04     1141.813
2017-04-04            ?
2017-05-04  1133.079314
2017-06-04            -

In [26]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'