In [1]:
import pandas as pd
import numpy as np

In [24]:
import sqlite3 as sql

In [33]:
conn = sql.connect('chinook.db')

In [26]:
cur= conn.cursor()

In [27]:
cur.execute('SELECT * FROM employees LIMIT 5;')

OperationalError: no such table: employees

In [28]:
import sqlite3 as sql

In [29]:
database= 'Insurance'

In [30]:
connection=sql.connect(database)

In [31]:
query='''SELECT * FROM Insurance'''

In [32]:
df=pd.read_sql_query (query, connection)

DatabaseError: Execution failed on sql 'SELECT * FROM Insurance': no such table: Insurance