# Raw string

In [1]:
# normal string vs raw string
path = "C:\desktop\nathan"  #string
print("string:",path)

string: C:\desktop
athan

In [2]:
path= r"C:\desktop\nathan"  #raw string
print("raw string:",path)

raw string: C:\desktop\nathan

In [3]:
import re

#match a word at the beginning of a string

result = re.match('Analytics',r'Analytics Vidhya is the largest data science community of India') 
print(result)

result_2 = re.match('largest',r'Analytics Vidhya is the largest data science community of India') 
print(result_2)

<re.Match object; span=(0, 9), match='Analytics'>
None

In [4]:
print(result.group())  #returns the total matches

Analytics

In [5]:
# search for the pattern "founded" in a given string
result = re.search('founded',r'Andrew NG founded Coursera. He also founded deeplearning.ai')
print(result.group())

founded

In [6]:
result = re.findall('founded',r'Andrew NG founded Coursera. He also founded deeplearning.ai')  
print(result)

['founded', 'founded']

# Special Sequences

In [8]:
str = r'Analytics Vidhya is the largest data science community of India'

#Check if there is any word that ends with "est"
x = re.findall(r"est\b", str)
print(x)

['est']

In [9]:
str = "2 million monthly visits in Jan'19."

#Check if the string contains any digits (numbers from 0-9):
x = re.findall("\d", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', '1', '9']
Yes, there is at least one match!

In [10]:
str = "2 million monthly visits in Jan'19."

# Check if the string contains any digits (numbers from 0-9):
# adding '+' after '\d' will continue to extract digits till encounters a space
x = re.findall("\d+", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', '19']
Yes, there is at least one match!

In [11]:
str = "2 million monthly visits in Jan'19."

#Check if the word character does not contain any digits (numbers from 0-9):
x = re.findall("\D", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', 'm', 'i', 'l', 'l', 'i', 'o', 'n', ' ', 'm', 'o', 'n', 't', 'h', 'l', 'y', ' ', 'v', 'i', 's', 'i', 't', 's', ' ', 'i', 'n', ' ', 'J', 'a', 'n', "'", '.']
Yes, there is at least one match!

In [12]:
str = "2 million monthly visits'19"

#Check if the word does not contain any digits (numbers from 0-9):

x = re.findall("\D+", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[" million monthly visits'"]
Yes, there is at least one match!

In [13]:
str = "2 million monthly visits!"

#returns a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character)

x = re.findall("\w",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', 'm', 'i', 'l', 'l', 'i', 'o', 'n', 'm', 'o', 'n', 't', 'h', 'l', 'y', 'v', 'i', 's', 'i', 't', 's']
Yes, there is at least one match!

In [14]:
str = "2 million monthly visits!"

#returns a match at every word (characters from a to Z, digits from 0-9, and the underscore _ character)

x = re.findall("\w+",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['2', 'million', 'monthly', 'visits']
Yes, there is at least one match!

In [15]:
str = "2 million monthly visits9!"

#returns a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

x = re.findall("\W", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ', '!']
Yes, there is at least one match!

In [16]:
str = r'Analytics Vidhya is the largest data science community of India'

x = re.findall("\AAnalytics", str)

print(x)

['Analytics']

In [17]:
str = r'Analytics Vidhya is the largest data science community of India'

x = re.findall(r"\Ben", str)

print(x)

['en']

# Meta Characters

In [22]:
str = "rohan and rohit recently published a research paper!" 

#Search for a string that starts with "ro", followed by three (any) characters

x = re.findall("ro.", str)
x2 = re.findall("ro...", str)


print(x)
print(x2)

['roh', 'roh']
['rohan', 'rohit']

In [33]:
str = "Data Science"

#Check if the string starts with 'Data':
x = re.findall("^Data", str)

if (x):
  print("Yes, the string starts with 'Data'")
else:
  print("No match")
  
#print (x)

Yes, the string starts with 'Data'

In [34]:
# try with a different string
str2 = "Big Data"

#Check if the string starts with 'Data':
x2 = re.findall("^Data", str2)

if (x2):
  print("Yes, the string starts with 'data'")
else:
  print("No match")
  
#print(x2)

No match

In [35]:
str = "Data Science"

#Check if the string ends with 'Science':

x = re.findall("Science$", str)

if (x):
  print("Yes, the string ends with 'Science'")

else:
  print("No match")
  
#print(x)

Yes, the string ends with 'Science'

In [36]:
str = "easy easssy eay ey"

#Check if the string contains "ea" followed by 0 or more "s" characters and ending with y
x = re.findall("eas*y", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['easy', 'easssy', 'eay']
Yes, there is at least one match!

In [37]:
#Check if the string contains "ea" followed by 1 or more "s" characters and ends with y 
x = re.findall("eas+y", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['easy', 'easssy']
Yes, there is at least one match!

In [38]:
x = re.findall("eas?y",str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['easy', 'eay']
Yes, there is at least one match!

In [39]:
str = "Analytics Vidhya is the largest data science community of India"

#Check if the string contains either "data" or "India":

x = re.findall("data|India", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['data', 'India']
Yes, there is at least one match!

In [40]:
# try with a different string
str = "Analytics Vidhya is one of the largest data science communities"

#Check if the string contains either "data" or "India":

x = re.findall("data|India", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['data']
Yes, there is at least one match!

# Sets

In [41]:
 str = "Analytics Vidhya is the largest data science community of India"

#Check for the characters y, d, or h, in the above string
x = re.findall("[ydh]", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['y', 'd', 'h', 'y', 'h', 'd', 'y', 'd']
Yes, there is at least one match!

In [42]:
str = "Analytics Vidhya is the largest data science community of India"

#Check for the characters between a and g, in the above string
x = re.findall("[a-g]", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['a', 'c', 'd', 'a', 'e', 'a', 'g', 'e', 'd', 'a', 'a', 'c', 'e', 'c', 'e', 'c', 'f', 'd', 'a']
Yes, there is at least one match!

In [48]:
str = "Mars' average distance from the Sun is roughly 230 million km and its orbital period is 687 (Earth) days."

# extract the numbers starting with 0 to 4 from the above string
x = re.findall(r"\d+[0-4]", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['230']
Yes, there is at least one match!

In [53]:
str = "Analytics Vidhya is the largest data sciece community of India"

#Check if every word character has characters than y, d, or h

x = re.findall("[^ydh]", str)

print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['A', 'n', 'a', 'l', 't', 'i', 'c', 's', ' ', 'V', 'i', 'a', ' ', 'i', 's', ' ', 't', 'e', ' ', 'l', 'a', 'r', 'g', 'e', 's', 't', ' ', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'c', 'e', ' ', 'c', 'o', 'm', 'm', 'u', 'n', 'i', 't', ' ', 'o', 'f', ' ', 'I', 'n', 'i', 'a']
Yes, there is at least one match!

In [54]:
str = "@AV Largest Data Science community #AV!!"

# extract words that start with a special character
x = re.findall("[^a-zA-Z0-9 ]\w+", str)

print(x)

['@AV', '#AV']

# Solve Complex Queries

# Extract Email IDs

In [55]:
str = 'Send a mail to rohan.1997@gmail.com, smith_david34@yahoo.com and priya@yahoo.com about the meeting @2PM'
  
# \w matches any alpha numeric character 
# + for repeats a character one or more times 
#x = re.findall('\w+@\w+\.com', str)     
x = re.findall('[a-zA-Z0-9._-]+@\w+\.com', str)     
  
# Printing of List 
print(x)

['rohan.1997@gmail.com', 'smith_david34@yahoo.com', 'priya@yahoo.com']

In [56]:
text = "London Olympic 2012 was held from 2012-07-27 to 2012/08/12."

# '\d{4}' repeats '\d' 4 times
match = re.findall('\d{4}.\d{2}.\d{2}', text)
print(match)

['2012-07-27', '2012/08/12']

In [61]:
text="London Olympic 2012 was held from 27 Jul 2012 to 12-Aug-2012."

match = re.findall('\d{2}.\w{3}.\d{4}', text)

print(match)

['27 Jul 2012', '12-Aug-2012']

In [62]:
# extract dates with varying lengths
text="London Olympic 2012 was held from 27 July 2012 to 12 August 2012."

#'\w{3,10}' repeats '\w' 3 to 10 times
match = re.findall('\d{2}.\w{3,10}.\d{4}', text)

print(match)

['27 July 2012', '12 August 2012']

In [63]:
import pandas as pd

#load dataset
data=pd.read_csv("C:/Users/DELL/Learn_to_use_regular_expressions/Video 4/titanic.csv")

In [65]:
data[:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [67]:
# print a few passenger names
data['Name'][:10]

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [69]:
name = "Allen, Mr. William Henry"
name2 = name.split(".")
name2

['Allen, Mr', ' William Henry']

In [70]:
name2[0].split(',')

['Allen', ' Mr']

In [71]:
title=data['Name'].apply(lambda x: x.split(".")[0].split(",")[1])
title.value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Mlle              2
 Major             2
 Col               2
 the Countess      1
 Capt              1
 Ms                1
 Sir               1
 Lady              1
 Mme               1
 Don               1
 Jonkheer          1
Name: Name, dtype: int64

In [72]:
def split_it(name):
    return re.findall("\w+\.",name)[0]

In [76]:
title=data['Name'].apply(lambda x: split_it(x))
title.value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Mlle.          2
Major.         2
Col.           2
Countess.      1
Capt.          1
Ms.            1
Sir.           1
Lady.          1
Mme.           1
Don.           1
Jonkheer.      1
Name: Name, dtype: int64