In [3]:
import pandas as pd
import numpy as np

#read the dataset
data_BM=pd.read_csv ("C:/Users/DELL/Pandas Part 1/bigmart_data.csv")

# drop the null values
data_BM=data_BM.dropna(how="any")

#view the top results
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [23]:
#sort by year
sorted_data=data_BM.sort_values(by='Outlet_Establishment_Year')

#print sorted data
sorted_data[:10]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4244,NCQ43,17.750,LF,0.111209,Others,107.7912,OUT013,1987,High,Tier 3,Supermarket Type1,982.7208
3331,FDH40,11.600,Regular,0.078864,Frozen Foods,83.2276,OUT013,1987,High,Tier 3,Supermarket Type1,1543.3244
6795,FDL56,14.100,Low Fat,0.125676,Fruits and Vegetables,86.9198,OUT013,1987,High,Tier 3,Supermarket Type1,1133.8574
3328,FDL13,13.850,Regular,0.056272,Breakfast,232.2300,OUT013,1987,High,Tier 3,Supermarket Type1,1398.1800
3326,FDX58,13.150,Low Fat,0.043727,Snack Foods,182.5950,OUT013,1987,High,Tier 3,Supermarket Type1,3478.8050
3316,FDO44,12.600,Low Fat,0.087380,Fruits and Vegetables,109.7228,OUT013,1987,High,Tier 3,Supermarket Type1,1547.3192
3339,DRD13,15.000,Low Fat,0.049039,Soft Drinks,65.4168,OUT013,1987,High,Tier 3,Supermarket Type1,1661.8368
3313,FDS56,5.785,Regular,0.038725,Fruits and Vegetables,263.9252,OUT013,1987,High,Tier 3,Supermarket Type1,6033.4796
3307,DRI01,7.970,Low Fat,0.034424,Soft Drinks,171.8422,OUT013,1987,High,Tier 3,Supermarket Type1,2069.3064
3305,FDE47,14.150,low fat,0.037877,Starchy Foods,124.0046,OUT013,1987,High,Tier 3,Supermarket Type1,1618.5598

In [16]:
data_BM [['Item_Identifier','Outlet_Establishment_Year', 'Item_Outlet_Sales']]

     Item_Identifier  Outlet_Establishment_Year  Item_Outlet_Sales
0              FDA15                       1999          3735.1380
1              DRC01                       2009           443.4228
2              FDN15                       1999          2097.2700
4              NCD19                       1987           994.7052
5              FDP36                       2009           556.6088
...              ...                        ...                ...
8517           FDF53                       1997          3608.6360
8518           FDF22                       1987          2778.3834
8520           NCJ29                       2004          1193.1136
8521           FDN46                       2009          1845.5976
8522           DRG01                       1997           765.6700

[4650 rows x 3 columns]

In [27]:
#sort in place and descending order

data_BM.sort_values(by='Outlet_Establishment_Year', ascending=False, inplace=True)
data_BM[:2]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2825,FDL16,12.85,Low Fat,0.169139,Frozen Foods,46.4060,OUT018,2009,Medium,Tier 3,Supermarket Type2,186.4240
7389,NCD42,16.50,Low Fat,0.012689,Health and Hygiene,39.7506,OUT018,2009,Medium,Tier 3,Supermarket Type2,227.7036

In [41]:
#read the dataset
data_BM=pd.read_csv("C:/Users/DELL/Pandas Part 1/bigmart_data.csv")
#drop the null values
data_BM=data_BM.dropna(how="any")

#sort by multiple columns
sorted_data=data_BM.sort_values(by=['Outlet_Establishment_Year', 'Item_Outlet_Sales'])
sorted_data [:5]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2370,NCA06,20.500,Low Fat,0.143164,Household,34.9190,OUT013,1987,High,Tier 3,Supermarket Type1,73.2380
4174,FDI60,7.220,Regular,0.038289,Baking Goods,64.7510,OUT013,1987,High,Tier 3,Supermarket Type1,126.5020
2244,FDZ27,7.935,LF,0.017142,Dairy,50.0350,OUT013,1987,High,Tier 3,Supermarket Type1,149.8050
3684,FDV38,19.250,Low Fat,0.101689,Dairy,54.6956,OUT013,1987,High,Tier 3,Supermarket Type1,163.7868
1209,FDU21,11.800,reg,0.076657,Snack Foods,32.3558,OUT013,1987,High,Tier 3,Supermarket Type1,169.7790

In [44]:
#changed the order of columns
data_BM.sort_values(by=['Item_Outlet_Sales', 'Outlet_Establishment_Year'])
data_BM [:5]
data_BM.iloc[:20]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312

In [43]:
# sort_index
data_BM.sort_index(inplace=True)
data_BM[:20]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312